# Reactor mandatory settings
REACTOR_NAME=sbh-metrics
# REACTOR_DESCRIPTION=
# REACTOR_ALIAS=reactor-nickname

# Docker settings
DOCKER_HUB_ORG=tcmitchell
DOCKER_IMAGE_TAG=sbh-metrics-reactor
DOCKER_IMAGE_VERSION=1.0
